* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #DDD;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 0;
}

footer a {
    color: rgb(48, 124, 211);
    text-decoration: none;
}

footer a:hover {
    color: rgb(21, 86, 207);
    text-decoration: underline;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.udalosti {
    margin: 20px;
}

.udalosti ul {
    display: flex;
    width: 100%;
    border-top: 1px solid #AAA;
}

.udalosti ul li {
    list-style: none;
}

.udalosti ul li a {
    text-decoration: none;
    color: rgb(167, 167, 11);
}

.udalost-jmeno {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

.udalost-rok {
    width: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: monospace;
}

.udalost-podrobnosti {
    padding: 10px;
    font-size: 18px;
}

.udalosti-pozadi {
    background-color: #EEE;
}

.udalost-vpravo {
    margin-left: 50px;
}

.osobnosti {
    margin: 20px;
    margin-top: 0;
}

table { 
    width: 100%;
    border: 1px solid #555;
    border-collapse: separate;
    border-left: 0;
    border-radius: 5px;
    border-spacing: 0px;
}

th {
    font-weight: normal;
}

th, td {
    padding: 5px 4px 6px 4px; 
    text-align: center;
    vertical-align: top;
    border-left: 1px solid #555;   
    background-color: #CCC; 
    font-family: monospace;
    font-size: 20px;
    cursor: default;
}

th:hover, td:hover {
    background-color: #AAA;
}

td {
    border-top: 1px solid #555;    
}
tr:first-child th:first-child, tr:first-child td:first-child {
    border-radius: 5px 0 0 0;
}
tr:last-child th:first-child, tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

.leftside {
    width: 30%;
    float: left;
    background: white;
    border-radius: 8px;
    border-spacing: 0px;
    border: 1px solid #555;
    background-color: #AAA;
    border-collapse: separate;
}

.leftside li {
    cursor: default;
    text-align: center;
    list-style: none;
    padding: 10px;
    border-top: 1px solid #555;
    font-size: 20px;
    font-family: monospace;
}

.leftside li:hover {
    background-color: #888;
}

.leftside li:first-child {
    border-radius: 8px 0 0 0;
    border-top: 0;
}

.leftside li:hover:first-child {
    border-radius: 8px 8px 0 0;
}

.leftside li:hover:last-child {
    border-radius: 0 0 8px 8px;
}

.rightside {
    width: 65%;
    float: left;
    margin-left: 4%;
    border: 1px solid #555;
    border-radius: 8px;
    margin-bottom: 25px;
}

.rightside li {
    list-style: none;
}

.osobnosti-data {
    background-color: #DDD;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
}

.osobnosti-jmeno {
    text-align: center;
    font-size: 35px;
    padding: 10px 10px 0 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.osobnosti-podrobnosti {
    padding: 30px;
    padding-top: 10px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.osobnosti-url {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

.osobnosti-url a {
    color: rgb(23, 143, 212);
}

.osobnosti-obrazky {
    width: 100%;
    align-items: center;
    margin: 10px;
}

.img-fluid {
    max-width: 30%;
    height: auto;
    margin-left: 2%;
    max-height: 350px;
}

.aktivni {
    background-color: #666 !important;
}

.leftside .aktivni:first-child {
    border-radius: 8px 8px 0 0 !important;
}

section {
    width: 60%;
    float: left;
    height: 80%;
}

section p {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

section a {
    text-decoration: none;
    color: rgb(45, 172, 252);
}

.right {
    width: 36%;
    float: left;
    height: 80%;
    margin-left: 4%;
}

.sedeprvni {
    margin: 3%;
    margin-bottom: 0;
    background: rgb(240, 240, 240);
    height: 50px;
    border-bottom: 1px solid #AAA;
}

.sedeposledni {
    margin: 3%;
    margin-top: 0;
    background: rgb(240, 240, 240);
    height: 50px;
}

.sede {
    margin-left: 3%;
    margin-right: 3%;
    background: rgb(240, 240, 240);
    height: 50px;
    border-bottom: 1px solid #AAA;
}

.bile {
    margin-left: 3%;
    margin-right: 3%;
    height: 50px;
    border-bottom: 1px solid #AAA;
}

.vlevo {
    width: 45%;
    float: left;
}

.nabozenstvi {
    margin: 3%;
    background-color: rgb(220, 220, 220);
    height: 33vh;
    border: 1px solid #BBB;
    border-radius: 5px;
}

.nabozenstvivlevo {
    width: 35%;
    float: left;
    height: 256px;
}

.vlevo p{
    font-size: 110%;
    margin: 5%;
    font-weight: bold;
}

.vpravo {
    width: 50%;
    float: left;
    margin-left: 3%;
}

.nabozenstvivpravo {
    margin: 5%;
    width: 50%;
    float: left;
    height: 28vh;
    background: white;
    border-radius: 8px;
    border: 1px solid #AAA;
}

.nabozenstvivpravo p {
    padding: 6%;
    border-bottom: 1px solid #AAA;
}

.nadpisnabozenstvi {
    font-size: 200%;
}

.statniutvar {
    margin-top: 30px;
}

.polohafrancie {
    margin-left: 15%;
}

.noborder {
    border: none !important;
}

.vpravo p {
    font-size: 15px;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.zahlavi {
    padding-top: 1.5%;
}

.border-bottom {
    border-bottom: 0.5px solid black;
}

.background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.znak {
    margin-left: 35px;
    width: 50px;
    cursor: pointer;
}

.navbar-links {
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

.navbar-links ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px ;
}

.navbar-links ul li a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.navbar-links ul li a:hover {
    color: rgb(236, 238, 99);
}

.menu-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 30px;
}

.nadpis {
    margin: 50px;
    height: 30%;
}

.nadpis2 {
    background-color: rgb(139, 151, 32);
    height: 180px;
}

.nadpis2 h1 {
    text-align: center;
    color: white;
    font-size: 150px;
}

.nadpis h1 {
    color: white;
    font-size: 150px;
    text-align: center;
}

.nadpis p {
    color: white;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.zalozka p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
    color: black;
    font-family: monospace;
}

.zalozky {
    align-items: center;
    margin-left: 0;
}

.zalozka {
    width: 22%;
    height: 20vh;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-position: center;
    background-size: cover;
    transition: 0.4s;
    border: 1px solid #555;
}

.zalozka:hover {
    transform: translateY(-10px);
    font-weight: 900;
}

.nadpis-h2 {
    background: rgb(197, 197, 30);
    margin: 20px;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
}

h3 {
    font-size: 25px;
    margin: 4%;
    color: rgb(167, 167, 11);
    font-weight: bold;
    font-family: monospace;
}

h4 {
    font-size: 60px !important;
    color: black;
    text-align: center;
    margin-top: 5vh;
    font-size: 40px;
}

.svg {
    border-bottom: 1px solid #DDD;
}

svg {
    margin-left: 20%;
}

.pamatky {
    width: 45%;
    float: left;
    margin: 2%;
    border-right: 1px solid #DDD;
}

.pamatky-jmeno {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pamatky p {
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pamatky a {
    color: rgb(4, 136, 224);
}

.pamatky img {
    max-width: 80%;
    max-height: 500px;
    margin-left: 5%;
    margin-top: 15px;
}

.mesta {
    width: 45%;
    float: left;
    margin: 2%;
}

.mesta p {
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.mesta-jmeno {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mesta a {
    color: rgb(4, 136, 224);
}

.mesta img {
    max-width: 80%;
    max-height: 500px;
    margin-left: 5%;
    margin-top: 15px;
}

@media (min-width: 1930px) {
    .nadpis h1 {
        font-size: 200px;
    }

    .nadpis p {
        font-size: 25px;
    }
}

@media (min-width: 1930px) {
    .zalozka p {
        font-size: 18px;
    }
}

@media (min-width: 2200px) {
    .zalozka p {
        font-size: 20px;
    }

    section p {
        font-size: 19px;
        line-height: 23px;
    }
}

@media (min-width: 2350px) {
    .nabozenstvi {
        height: 30vh;
    }

    .nabozenstvivpravo {
        height: 30vh;
    }
}

@media (min-width: 2400px) {
    .zalozka p {
        padding-top: 10px;
    }
}

@media (min-height: 1100px) {
    .zalozka p {
        font-size: 23px;
        line-height: 23px;
    }

    .nabozenstvi {
        height: 350px;
    }

    .nabozenstvivpravo {
        height: 300px;
    }
}

@media (min-height: 1300px) {
    .zalozka p {
        font-size: 25px;
        line-height: 30px;
    }

    .nabozenstvi {
        height: 390px;
    }

    .nabozenstvivpravo {
        height: 330px;
    }
}

@media (max-width: 1720px) {
    .nadpis {
        height: 20%;
    }

    .zalozky {
        margin-left: 100px;
    }

    .zalozka {
        width: 35%;
        height: 22vh;
        margin: 18px 50px;
    }

    .nadpisnabozenstvi {
        font-size: 130%;
    }

    section p {
        font-size: 90%;
        line-height: 15px;
    }
}

@media (max-width: 1500px) {
    .polohafrancie {
        margin-left: 10%;
    }

    .nabozenstvi {
        height: 300px;
    }

    .nabozenstvivpravo {
        height: 260px;
    }

    .osobnosti-podrobnosti {
        line-height: 20px;
    }

    svg {
        margin-left: 12%;
    }
}

@media (max-width: 1400px) {
    .vlevo p {
        margin: 3%;
        font-size: 100%;
    }

    .vpravo p {
        margin: 3%;
        font-size: 80%;
    }

    .nabozenstvi {
        height: 18vh;
    }

    .nadpisnabozenstvi {
        font-size: 100%;
    }

    .nabozenstvivpravo {
        margin: 3%;
        height: 15vh;
    }

    .nabozenstvivpravo p {
        font-size: 70%;
        padding: 3%;
    }

    .nabozenstvi::after {
        content: "";
        clear: both;
        display: table;
    }

    .polohafrancie {
        width: 70%;
    }
}

@media (max-width: 1325px) {
    .navbar-links ul li {
        margin-left: 40px;
    }

    .navbar-links ul li a {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .zalozky {
        margin-left: 60px;
    }

    .zalozka p {
        font-size: 12px;
    }

    .zalozka h4 {
        font-size: 45px !important;
    }

    section p {
        font-size: 70%;
    }
    
    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 130%;
    }

    .nabozenstvi {
        height: 160px;
    }

    .nabozenstvivpravo {
        height: 130px;
    }

    .leftside {
        width: 100%;
    }

    .rightside {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    svg {
        margin-left: 0;
    }
}

@media (max-width: 882px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }

    .nadpis {
        height: 20%;
    }

    .nadpis2 {
        height: 150px;
    }

    .nadpis2 h1 {
        font-size: 120px;
    }

    .zalozky {
        margin-left: 10px;
    }

    .zalozka {
        width: 40%;
        height: 20vh;
        margin: 15px;
        margin-left: 35px;
    }

    .zalozka p {
        font-size: 10px;
    }

    .zalozka h4 {
        font-size: 40px !important;
    }

    .navbar-links ul li {
        margin-left: 20px;
    }

    .navbar-links ul li a {
        font-size: 15px;
    }

    section {
        width: 100%;
    }

    .right {
        width: 100%;
        margin-left: 0px;
    }

    section h2 {
        font-size: 30px;
    }

    section h3 {
        font-size: 20px;
    }

    section p {
        font-size: 65%;
    }

    .polohafrancie {
        width: 40%;
        margin-left: 30%;
    }

    .right h3 {
        text-align: center;
        font-size: 35px;
    }

    .nabozenstvi {
        height: 220px;
    }

    .nabozenstvivlevo {
        height: 150px;
    }

    .nabozenstvivpravo {
        height: 180px;
    }

    .nadpisnabozenstvi {
        font-size: 25px !important;
    }
}

@media (max-width: 663px) {
    .nadpis h1 {
        font-size: 85px;
    }

    .nadpis p {
        font-size: 12px;
    }

    .nadpis {
        height: 10%;
    }

    .zalozky {
        margin-left: 0;
    }

    .zalozka {
        width: 80%;
        height: 12vh;
        margin: 18px 9%;
    }

    .zalozka p {
        display: none;
    }

    .navbar-links ul li {
        margin-top: 5px;
    }

    .navbar-links ul li a {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .zalozka h4 {
        font-size: 45px !important;
        margin-top: 3vh;
    }

    .navbar {
        height: 100px;
    }

    .navbar-links {
        margin-left: 40%;
        margin-right: 5%;
    }

    .navbar-links ul li a {
        font-size: 12px;
    }

    .nadpis2 {
        height: 110px;
    }

    .nadpis2 h1 {
        font-size: 90px;
    }

    .nabozenstvi {
        height: 156px;
    }

    .nabozenstvivpravo {
        margin-left: 25px;
        height: 136px;
    }

    .nadpisnabozenstvi {
        font-size: 18px !important;
    }
    
    .udalost-jmeno, .osobnosti-podrobnosti, th, td {
        font-size: 15px;
    }

    .udalost-jmeno {
        padding: 0;
        padding-top: 10px;
    }

    .udalost-vpravo {
        margin-left: 0;
    }

    .udalost-rok {
        font-size: 15px;
    }

    .osobnosti-url{
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .nadpis h1 {
        font-size: 70px;
    }

    .zalozka h4 {
        font-size: 40px !important;
    }

    .nadpis p {
        font-size: 10px;
    }

    .osobnosti-url {
        font-size: 1px;
        visibility: hidden;
    }

    th, td, .udalost-jmeno {
        font-size: 13px;
    }
}

@media (max-width: 322px) {
    .navbar-links {
        margin-left: 35%;
    }

    .nadpis h1 {
        font-size: 55px;
    }

    .nadpis p {
        font-size: 8px;
    }

    section h2 {
        font-size: 20px;
    }

    section h3 {
        font-size: 15px;
    }

    section p {
        font-size: 8px;
    }

    .right h3 {
        font-size: 20px;
    }

    .nabozenstvi {
        height: 140px;
    }

    .nabozenstvivpravo {
        height: 120px;
    }

    .nadpisnabozenstvi {
        font-size: 15px !important;
    }

    .vlevo p {
        font-size: 80%;
    }

    .vpravo p {
        font-size: 60%;
    }

    .sede, .sedeprvni, .sedeposledni, .bile {
        height: 30px;
    }

    .udalost-rok {
        padding-left: 0;
        padding-right: 0;
        font-size: 12px;
    }

    td, th {
        font-size: 11px;
    }

    .zalozka h4 {
        font-size: 33px !important;
    }
}

.zatimnic {
    text-align: center;
    font-size: 150px;
}